<div class="container-fluid">
  <h1><%= @book.name %></h1>
  <p>
    ISBN: <%= @book.isbn_number %>
  </p>
  <p class="well">
    <%= @book.description %>
  </p>
  <div class="clearfix">
    <%= link_to "Edit this book", edit_book_path(@book.id), class: "btn btn-primary"%>
    <%= link_to "Reserve Book", reservations_new_book_path(@book.id), class: "btn btn-primary", method: :get %>
    <%= link_to "Hide Reservations", book_path(@book.id), class: "btn btn-primary" %>
    <%= link_to "Delete book", book_path(@book.id), class: "btn btn-danger", method: :delete %>
  </div>
  <article class="reservations-section">
    <% @book.reservations.each do |reservation| %>
      <h4>Name: <%= link_to reservation.name, reservation_path(reservation.id)%></h4>
      <h5>Book: <%= reservation.book.name %></h5>
      <p class="well">
        Due at: <%= reservation.due_date %>
        <br>
        Returned on: <%= reservation.returned_at %>
        <br>
        <% if reservation.due_date < Date.today && reservation.returned_at == nil %>
          <span class="overdue-warning">THIS BOOK IS OVERDUE</span>
        <% end %>
        <br>
        <% if reservation.returned? %>
          <%= link_to "Mark Book Returned", return_reservation_book_path(reservation_id: reservation.id), class: "btn btn-primary", method: :patch %>
        <% end %>
      </p>
    <% end %>
  </article>
</div>
