<h1>Add a Book</h1>
<%= form_tag books_path do %>
  <%= label_tag 'book[name]', 'Book Title' %>
  <%= text_field_tag 'book[name]', @book.name %>

  <%= label_tag 'book[description]', 'Description' %>
  <%= text_field_tag 'book[description]', @book.description  %>

  <%= label_tag 'book[isbn_number]', 'ISBN Number' %>
  <%= text_field_tag 'book[isbn_number]', @book.isbn_number  %>

  <%= submit_tag "Save" %>
<% end %>
