<h1>You picked...</h1>
<h3><%= @book.name %></h3>
<p>
  <%= @book.description %>
</p>
<p>
  <%= @book.isbn_number %>
</p>
<%= link_to "Edit this book", edit_book_path(@book.id)%>

<%= form_tag delete_book_path(@book.id), method: :delete do %>
  <%= submit_tag "Delete" %>
<% end %>
