<%= render 'nav' %>
<div class="container-fluid">
  <h3><%= @book.name %></h3>
  <p>
    ISBN: <%= @book.isbn_number %>
  </p>
  <p class="well">
    <%= @book.description %>
  </p>
  <div class="clearfix">
    <%= link_to "Edit this book", edit_book_path(@book.id), class: "btn btn-primary"%>
    <%= link_to "Delete book", book_path(@book.id), class: "btn btn-danger", method: :delete %>
  </div>
</div>
