<div class="container-fluid">
  <h1><%= @reservation.book.name %> <small>reserved by <%= @reservation.name %></small></h1>
  <p>
    <dl>
      <dt>
        Reserved on:
      </dt>
      <dd>
        <%= @reservation.created_at %>
      </dd>
      <dt>
        Due on:
      </dt>
      <dd>
        <%= @reservation.due_date %>
      </dd>
      <dt>
        Returned on:
      </dt>
      <dd>
        <%= @reservation.returned_at %>
      </dd>
      <% if @reservation.due_date < Date.today  && @reservation.returned_at == nil%>
        <dd class="overdue-warning">
          THIS BOOK IS OVERDUE
        </dd>
      <% end %>
    </dl>
  </p>
  <div class="clearfix">
    <%= link_to "Edit this reservation", edit_book_reservation_path(@reservation.book.id, @reservation.id), class: "btn btn-primary"%>
    <% if @reservation.returned? %>
      <%= link_to "Mark Book Returned", return_book_reservation_path(@reservation.book.id, @reservation.id), class: "btn btn-primary", method: :patch %>
    <% end %>
    <%= link_to "Delete reservation", book_reservation_path(@reservation.book.id, @reservation.id), class: "btn btn-danger", method: :delete %>
  </div>
</div>
